{% extends "base.twig" %}
{% block entreprise_active %}actif
{% endblock %}
{% block content %}

	<h1>Entreprise</h1>

	<a href="index.php?name=ajoutent">
		<button>Ajouter une entreprise</button>
	</a>
	<!-- Version étudiant -->
	<table class="list">
		<thead>
			<th>Opération</th>
			<th>Entreprise</th>
			<th>Responsable</th>
			<th>Adresse</th>
			<th>Site</th>
			<th>Spécialité</th>
		</thead>
		<tbody>
			{% for entreprise in entreprises %}
				<tr>
					<td>
						<div class="center">
							<a href="index.php?id={{ entreprise.num_entreprise }}&name=detailsent">
								<img src="../icons/voir.png" alt="details" width="15%"></a>
							<a href="index.php?id={{ entreprise.num_entreprise }}&name=signerstage">
								<img src="../icons/inscrire.png" alt="inscription" width="15%"></a>
							<a href="index.php?id={{ entreprise.num_entreprise }}&name=deleteent">
								<img src="../icons/supprimer.png" alt="supprimer" width="15%"></a>
						</div>
					</td>
					<td>{{ entreprise.raison_sociale }}</td>
					<td>{{ entreprise.nom_resp }}</td>
					<td>{{ entreprise.rue_entreprise }}
						{{ entreprise.cp_entreprise }}
						{{ entreprise.ville_entreprise }}</td>
					<td>
						{% if entreprise.site_entreprise %}
							<a href="{{ entreprise.site_entreprise }}" class="center"><img src="../icons/lien.png" alt="details" width="25%"></a>
						{% endif %}
					</td>
					<td>
						{{ entreprise.specialites }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
