{% extends "base.twig" %}
{% block inscription_active %}actif
{% endblock %}
{% block cacher %}display: none;
{% endblock %}
{% block content %}
	<article>
		<h1>Inscription</h1>

		<form method="post">
			<table class="list">
				<th colspan="2">
					Contact
				</th>
				<tr>
					<td>
						Entreprise<span class="important">*</span>
					</td>
					<td>
						<label for="entreprises"></label>
						<select required id="entreprises" name="entreprises">
							<option value"">
								-- select an option --
							</option>
							{% for entreprise in entreprises %}
								<option value="{{ entreprise.raison_sociale }}">{{ entreprise.raison_sociale }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Stagiaire<span class="important">*</span>
					</td>
					<td>
						<label for="stagiaires"></label>
						<select required id="stagiaires" name="stagiaires">
							<option value="">
								-- select an option --
							</option>
							{% for stag in stagiaires %}
								<option value="{{ stag.nom_etudiant }}">{{ stag.nom_etudiant }}
									{{ stag.prenom_etudiant }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Professeur<span class="important">*</span>
					</td>
					<td>
						<label for="professeurs"></label>
						<select required id="professeurs" name="professeurs">
							<option value"">
								-- select an option --
							</option>
							{% for prof in professeurs %}
								<option value="{{ prof.nom_prof }}">{{ prof.nom_prof }}
									{{ prof.prenom_prof }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</table>

			<table class="list">
				<th colspan="2">
					Description du stage
				</th>
				<tr>
					<td>Date de début du stage<span class="important">*</span>
						:</td>
					<td><input type="date" name="date_debut" id="date_debut" required></td>
				</tr>
				<tr>
					<td>Date de fin du stage<span class="important">*</span>
						:</td>
					<td><input type="date" name="date_fin" id="date_fin" required></td>
				</tr>
				<tr>
					<td>Type de stage<span class="important">*</span>
						:</td>
					<td>
						<label for="type"></label>
						<select id="type" name="type">
							<option value"">
								-- select an option --
							</option>
							<option value="Aucun">Aucun</option>
							<option value="Stage">Stage</option>
							<option value="Alternance">Alterance</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Description du projet :</td>
					<td>
						<textarea name="description" id="description"></textarea>
					</td>
				</tr>
				<tr>
					<td>Observation :</td>
					<td>
						<textarea name="observation" id="observation" span=></textarea>
					</td>
				</tr>
			</table>

			<p class="message">
				Les champs comportant le symbole
				<span class="important">*</span>
				sont obligatoires
			</p>
			<input type="submit" value="Valider">
		</form>
	</article>

{% endblock %}
