{% extends "base.twig" %}
{% block stagiaire_active %}actif
{% endblock %}
{% block cacher %}display: none;
{% endblock %}
{% block content %}
	<article>
		<h1>Modifier un stagiaire</h1>

		<form method="post">
			<table class="list">
				<thead>
					<th colspan="6">Informations sur le stagiaire
						{{ num_etudiant }}</th>
				</thead>
				<tbody>
					<tr>
						<td>Nom<span class="important">*</span>
						</td>
						<td>
							<textarea name="nom" id="nom" required>{{ nom_etudiant }}</textarea>
						</td>
					</tr>
					<tr>
						<td>Prénom<span class="important">*</span>
						</td>
						<td>
							<textarea name="prenom" id="prenom" required>{{ prenom_etudiant }}</textarea>
						</td>
					</tr>
					<tr>
						<td>Nom d'utilisateur (8 caractères)<span class="important">*</span>
						</td>
						<td>
							<textarea name="utilisateur" id="utilisateur" required>{{ login }}</textarea>
						</td>
					</tr>
					<tr>
						<td>Mot de passe (entre 8 et 30 caractères)<span class="important">*</span>
						</td>
						<td>
							<textarea name="mdp" id="mdp" required>{{mdp}}</textarea>
						</td>
					</tr>
				</tbody>
			</td>
		</tr>
		<tr>
			<td>Classe<span class="important">*</span>
			</td>
			<td>
				<textarea name="classe" id="classe" required>{{ num_classe }}</textarea>
			</td>
		</tr>
	</tbody>
</table>

<p class="message">
	Les champs comportant le symbole
	<span class="important">*</span>
	sont obligatoires
</p>

<input type="submit" value="Modifier"></form></article>{% endblock %}
