{% extends "base.twig" %}
{% block stagiaire_active %}actif
{% endblock %}
{% block content %}

	<article>
		<h1>Stagiaire</h1>

		<div>
			<button id="recherche_stagiaire">Rechercher un stagiaire</button>
			<button id="ajout_stagiaire">Ajouter un stagiaire</button>
		</div>

		<table class="list">
			<tr>
				<th>Détails</th>
				<th>Opération</th>
				<th>Etudiant</th>
				<th>Entreprise</th>
				<th>Professeur</th>
			</tr>
			{% for etu in etudiants %}
				<tr>
					<td>
						<a href="index.php?id={{ etu.num_etudiant }}&name=detailsetu" class="center"><img src="../icons/voir.png" alt="details" width="20%"></a>
					</td>
					<td>
						<div class="center">
							<a href="stagiaire.edit"><img src="../icons/modifier.png" alt="modifier" width="10%"></a>
							<a href="stagiaire.delete"><img src="../icons/supprimer.png" alt="supprimer" width="10%"></a>
						</div>
					</td>
					<td>
						{{ etu.nom_etudiant }}
						{{ etu.prenom_etudiant }}
					</td>
					<td>
						{{ etu.raison_sociale }}
					</td>
					<td>
						{{ etu.nom_prof }}
						{{ etu.prenom_prof }}
					</td>
				</tr>
			{% endfor %}
		</table>
	</article>
{% endblock %}
